.navbar {
    background-color: #ffffff !important;
}

.navbar NavLink{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.menu_active {
    font-weight: bold;
    border-bottom: 1px solid rgb(223, 62, 62);
}

.navbar NavLink:hover {
    color: rgb(230, 91, 36);
}

    
.nav-link{
    text-decoration: none;
    color: tomato;
}
.header1{
    color: yellow;
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(9, 12, 12);
}

@media (max-width : 991px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}

.slide img{
 height: 80vh;
}


#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1{
    margin:  0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.head {
    background-color: rgb(32, 32, 32);
    font-weight: 600;
    color: white;
    
}
.head a{
    color: white;
    text-decoration: none;
}

#header .brand-name {
    color :rgb(223, 62, 62);
}

#header h2 {
    color: rgb(32, 221, 32);
    font-size: 24px;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s ;
    color: greenyellow;
    border : 2px solid greenyellow;
    text-decoration: none;
}

#header .btn-get-started:hover {
    background: greenyellow;
    color: ivory;
}

.header-img {
    text-align: right;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#card{
max-height: 80vh;

}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*
Footer Start
*/
footer{
    position: fixed;
    left:0;
    bottom:0;
   
}
.footer{
    background-color: #121116
}

.list{
    padding-top: 5%;
    padding-left: 5%;
    color: white;
}
.list li{
    padding: 2%;
    text-decoration: none;
    color: yellowgreen;
}
.contactlist li{
color: rgb(243, 242, 242);
padding: 2%;
}
.list .footerlinks{
    font-weight: 500;
    color: rgb(218, 218, 218);
    text-decoration: none;
}
.list .footerlink :hover{
    color: rgb(63, 105, 8);
    border-bottom: 3px dotted red;
}
.text p{
    letter-spacing: 2px;
    font-size:15px;
    font-family:cursive;
    word-break:keep-all;
    color:white;    
    box-sizing: border-box;
}

.icon{
    margin-right: 15px;
}

.endfoot{
    background-color: rgb(9, 12, 12);
    color: white;
    padding: 1%;
}
.icons a{
text-decoration: none;
color: ivory;
}
.facebook:hover{
    color: rgb(21, 149, 235);
    transform: translateY(-4px);
    transition: 500ms;
}
.whatsapp :hover{
    color: rgb(98, 170, 26);  
    transform: translateY(-3px);
    transition: 500ms;
   }
.insta:hover{
    color: rgb(255, 0, 242);  
    transform: translateY(-4px);
    transition: 500ms;;
}
.mail:hover{
    color: rgb(147, 207, 140); 
    transform: translateY(-4px);
    transition: 500ms;
}

/*
p {
    font-size: 14px
}



.top-part {
    margin-top: 50px;
    background-color: #7961b3
}

.center-content {
    margin-top: 100px;
    margin-bottom: 100px
}

.btn-pink {
    border-radius: 0;
    background-color: #df3c72;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px
}

.btn-pink:hover {
    background-color: #F50057
}

.line {
    border-top: 1px solid #66138a;
    width: 90% !important
}

.fa-mobile {
    font-size: 20px
}
*/
#contact {
    font-size: 15px
}

.grey-text {
    color: lightgrey
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

/*
Contact
*/

.input input{

    text-decoration: none;
    border: none;
    border-bottom: 1px solid purple;
    background: rgb(243, 242, 242);
    box-shadow: 1px 1px 2px 1px grey;
}

form {
    box-shadow:1px 1px 1px 2px rgb(231, 221, 221);
    padding: 15px;
    width: 80%;
}



/*
MAP CSS
*/

.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
   
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/*
About page
*/
.foods{
    
   
}
.food{
    max-height: 80vh;
    min-height: 0vh;
    width:100%;
    opacity:0.9;
    background: transparent;
}
.text{
letter-spacing: 1px;
word-break: break-all;
font-style: oblique;
}

.headtext{
font-family:sans-serif;
font-size: 35px;

text-shadow: 1px 1px gray;
text-align: center;
background: rgb(204, 200, 199);
box-shadow: 1px 2px 2px 4px rgb(228, 222, 222);
}

.about{
    background: rgba(221, 221, 221, 0.877);
}

.client{
    width: 100%;
    background: transparent;
}

/* control image height */
.servicescard{

}