
.food{
    max-height: 80vh;
    min-height: 0vh;
    width:100%;
    background-attachment: fixed; 
    background-image: url('../../Image/services/about.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
   
}
.text{
    
    font-family: 'Antic Didone', serif;
letter-spacing: 1px;
font-size: 20px;


}


.headtext{
    display: block;
font-family: 'Roboto', sans-serif;
font-size: 30px;
color:#03ac11;

}
.subheadtext
{
    font-size:35px;
    padding:20px
}
@media (min-width:768px) {
    
.headalignment
{
    text-align: left;
    padding-left: 9%;
    margin-left:0px ;
}
}
@media (max-width:767px)
{
    .headalignment
    {
        text-align:left;
        padding-left: 5%;
    }
    .text
    {
        padding-left: 5%;
    }
}
.about{
    background: rgba(245, 245, 245, 0.877);
}

.client{
    width: 100%;
    height: 500px;
    background: transparent;
}

.maincards{
    height: 80%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.firstletter::first-letter
{
    font-size:4.7rem;
    float:left;
    padding-top: 0px;
  
    line-height:50px;
}

.greenHighlight{
    color:#03ac11;
    font-size:22px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}